<h3 style="text-align: center;"> {{currentBatch.name}} Associates</h3>

<div *ngIf="currentBatch != null; else noBatchSelected ">
  <div class="searchText-container">
    <div class="input-group">
      <span class="input-group-addon">Search</span>
      <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="Search" required="">
    </div>
  </div>

  <table class="table">
    <tbody>
      <tr class="associates-header">
        <td [class.active]= "order == 'lName'" (click)="setOrder('lName')" class="head">Name<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></td>
        <td class="head">Email</td>
        <td class="head">Batch Id</td>
        <td class="head">Main Phone</td>
        <td class="head">Secondary Phone</td>
        <td class="head">Skype</td>
      </tr>
      <tr class="associates-row" *ngFor="let associate of associateList | orderBy: order:reverse:'case-insensitive'| search : 'all' : searchTerm | paginate: { itemsPerPage: 7, currentPage: p}">
        <td class="value lname">{{associate.lName}}, {{associate.fName}}</td>
        <td class="value email">{{associate.email}}</td>
        <td></td>
        <!--<td class="value batchId">{{associate.batch.id}}</td>-->
        <td class="value mPhone">{{associate.phone}}</td>
        <td class="value sPhone">{{associate.phone2}}</td>
        <td class="value skype">{{associate.skype}}</td>
      </tr>
    </tbody>
  </table>
  <div class="page-sel">
    <pagination-controls class="my-pagination" (pageChange)="p = $event" autoHide="true"></pagination-controls>
  </div>
</div>

<ng-template #noBatchSelected>
  <h2>Batch has not been selected</h2>
</ng-template>