
<div class="row justify-content-between" id="pan-container">
  <div id="pan2" class="col-md-5 pan2">
    <ul  ng-model="getData">
      <li>First Name: {{user.fName}}</li>
      <li>Last Name: {{user.lName}}</li>
      <li>Current Batch Start Date: {{currentBatchStart1 | date: 'MM-dd-yyyy'}}</li>
      <li>Current Batch End Date: {{currentBatchEnd1 | date: 'MM-dd-yyyy'}}</li>
    </ul>
  </div>
  
      

<div id="pan3" class="col-md-6 pan3">
    <h2 ng-show="!trainerHasBatch || !userHasBatch" id="bWeek">Batch Week: {{weekNum}}</h2>
  </div>
</div>
