<div id="home">
  <!-- Welcome new trainer -->
  <div class="container">
    <h1 style="margin-top:40px">Welcome to Caliber!</h1>
    <div style="margin-bottom:28px">
      <p>
        To get started, please visit the
        <a href="https://github.com/pjw6193/caliber/wiki#user-guide" style="color:#F26925">user guide</a>
        for an introduction and orientation.
      </p>
    </div>
  </div>
  <!-- Charts -->
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12 display-behind">
      <app-vp-bar-graph></app-vp-bar-graph>
      <app-vp-line-graph></app-vp-line-graph>
      <app-vp-panel-graph></app-vp-panel-graph>
    </div>
  </div>
</div>