<div class="row pt-3 pb-3">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="card">
			<div class="card-header">Batch Progess</div>
			<div class="card-body">
				<app-loading-spinner></app-loading-spinner>
				<h5 class="card-title">Batch Progess By Day</h5>
				<div class="card-text">
					<p><ngb-progressbar type="info" [value]="percentCompleted" [height]="20"></ngb-progressbar></p>
					<h5 class="card-title">Batch Progess By Subtopic</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>