<div class="container">


  <div class="row justify-content-center ">
    <div class="col-4 pt-3">

      <div class="card mb-3">
        <div class="card-body">
          <form ng-submit="updateBatch()" class="ng-valid-required ng-dirty ng-valid ng-valid-date">

            <div class="form-group">
              <span class="input-tag">Name:</span>

              <input type="text" class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched" ng-model="batch.name"
                placeholder="" required="" readonly="" value="{{ batch.name }}">
            </div>

            <div class="form-group">
              <span class="input-tag">Type:</span>

              <select class="custom-select form-control" id="inputGroupSelect01">
                <option selected> {{ batch.type.name }}</option>
                <ng-container *ngFor="let type of batchTypes">
                  <option *ngIf="batch.type.name != type.name"> {{ type.name }} </option>
                </ng-container>
              </select>
            </div>

            <div class="form-group">
              <span class=" -addon input-tag">Start Date:</span>
              <input type="date" id="startDate" class="form-control ng-not-empty ng-valid ng-valid-required ng-touched ng-dirty ng-valid-date"
                width="30%" required="" value='{{batch.startDate | date:"yyyy-MM-dd"}}'>
            </div>
            <div class="form-group">
              <span class="input-tag">End Date:</span>
              <input type="date" class="form-control ng-dirty ng-not-empty ng-valid ng-valid-date ng-valid-required ng-touched" required=""
                value='{{batch.endDate | date:"yyyy-MM-dd"}}'>
            </div>

            <button class="btn btn-block btn-primary" id="login-btn" type="submit">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>