<div class="row">
	<div class="col col-sm-12">
		<div class="input-group" class="pull-right">
			<div class="input-group">

				<input *ngIf="automaticFiltering" [(ngModel)]="filterText" (keyup)="filterBatches($event)" id="typeahead-basic" placeholder="Filter" type="search" class="form-control" />
				<input *ngIf="!automaticFiltering" (keyup.enter)="filterBatches($event)" id="typeahead-basic" placeholder="Filter" type="search" class="form-control" />

				<span class="icon">
					<button type="submit" class="SearchButton">
						<i class="fa fa-search" style="color: #868e96"></i>
					</button>
				</span>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="table-border">
			<h3 class="table-title">{{title}}</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Trainer</th>
							<th scope="col">Type</th>
							<th scope="col">Start Date</th>
							<th scope="col">End Date</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let batch of filtered">
							<td>{{batch.name}}</td>
							<td>{{batch.trainer.fName}} {{batch.trainer.lName}}</td>
							<td>{{batch.type.name}}</td>
							<td>{{batch.startDate | date: 'MM/dd/yyyy'}}</td>
							<td>{{batch.endDate | date: 'MM/dd/yyyy'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>