<!-- <ngb-tabset activeId="{{this.selectedWeek}}" (tabChange)="fetchNews($event)" style="margin-top: -2px; border-bottom: white">
<ngb-tabset>
	<ngb-tab>
		<ng-template ngbTabTitle>
			<div>Current Batches</div>
		</ng-template>
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>
	<ngb-tab>
		<ng-template ngbTabTitle>
			<div>Past Batches</div>
		</ng-template>
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>
	<ngb-tab>
		<ng-template ngbTabTitle>
			<div>Future Batches</div>
		</ng-template>
		<ng-template ngbTabContent></ng-template>
	</ngb-tab>
</ngb-tabset> -->


<table class="table">
	<tr>
		<th>Name</th>
		<th>Trainer</th>
		<th>Type</th>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>
	<tr *ngFor="let batch of batches">
		<td>{{batch.name}}</td>
		<td>{{batch.trainer.fName}} {{batch.trainer.lName}}</td>
		<td>{{batch.type.name}}</td>
		<td>{{batch.startDate | date: 'MM/dd/yyyy'}}</td>
		<td>{{batch.endDate | date: 'MM/dd/yyyy'}}</td>
	</tr>
</table>