<div *ngIf="selectedCurr" class="offset-7">{{selectedCurr.curriculumName}} Version #{{selectedCurr.curriculumVersion}}</div>

<div class="container">
<div class="row">
    <div class="offset-1 col-3 noWrapDog">
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>
                    <div (click)="toggle(1)">Course Structures</div>
                </ng-template>
                <ng-template ngbTabContent></ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle>
                    <div (click)="toggle(2)">Topic Pool</div>
                </ng-template>
                <ng-template ngbTabContent></ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
</div>

<div class="container">
<div class="row">
    <span class="offset-1 col-md-3 col-sm-3 col-4">
        <app-course-structure *ngIf="toggleTab === 1" (messageEvent)="receiveMessage($event)"></app-course-structure>
        <app-topic-pool [readOnly]="!isNewVer" *ngIf="toggleTab === 2" ></app-topic-pool>
    </span>

    <span class="col-8 align style-7" >                
            <span *ngIf="isNewVer" class="buttons">
                <span class="saveCurr">
                        <button (click)="saveCurr()">Save Curriculum</button>
                </span>
                    
                <span class="pushtotop" (click)="addWeek()">
                    <i class="fa fa-plus-square"></i>
                </span>
            </span>        
        <br/>
        <br/>
        <app-curriculum-week [readOnly]="!isNewVer" *ngFor="let week of allWeeks; let i = index" [weekCurrSubtopics]="week" [weekNum]="i + 1"></app-curriculum-week>
    </span>
</div>
</div>