<div class="row">
    <span class="offset-1 col-3">
        <app-topic-pool></app-topic-pool>
    </span>

    <span class="col-8 align " id="style-7">

        <span class="buttons">
            <span class="pushtotop">
                <i class="fa fa-plus-square "></i>
            </span>
        </span>
        <br/>
        <br/>

        <app-curriculum-week *ngFor="let week of allWeeks; let i = index" [weekDTO]="week" [weekNum]="i +1"></app-curriculum-week>
    </span>

    <app-course-structure></app-course-structure>
</div>