.align{
    margin-top: 6px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    margin-top: 44px;
}

.buttons{
    float:right;
    color:rgb(244, 136, 81);
    position: relative;
    bottom: 10px;
    right: 10px;
}

.buttons:hover{
    color: green;
    cursor: pointer;
}

.pushtotop{
    position: absolute;
    float:right;
    top:0px;
    right:0px;
    font-size: 2.5em;
}

.saveCurr{
    background-color: blue;
    position: relative;
    right: 655px;
    top: 10px;
}

:host ::ng-deep ul.nav.nav-tabs.justify-content-start.nav {
    flex-wrap: nowrap;
}

/*
 *  STYLE 7
 */

 .style-7::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
 .style-7::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 .style-7::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-image: -webkit-gradient(linear, left bottom, left top, 
     color-stop(0.44, rgb(244, 136, 81)),
     color-stop(0.72, rgb(248, 169, 130)), 
     color-stop(0.86, rgb(251, 220, 205)));
 }
