<button class="btn btn-dark float-right" (click)="populateCalendar()">

    Populate My Calendar</button>

<div *ngIf="selectedCurr" class="offset-7">{{selectedCurr.curriculumName}} Version #{{selectedCurr.curriculumVersion}}</div>

<div class="container">
    <div class="row tabRow">
        <div class="col-3 noWrapDog">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="toggle(1)">Course Structures</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="toggle(2)">Topic Pool</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>

        <div class="makeRelative col-9" *ngIf="isNewVer">

            <div>
                <div class="dropdown">
                    <button class="dropdown-toggle trashCan" type="button" data-toggle="dropdown">
                        <i class="fa fa-trash"></i>
                    </button>
                    <div class="dropdown-menu">


                        <li class="dropdown-submenu">
                            <a class="test">Clear All Weeks</a>
                            <ul class="dropdown-menu">
                                <p>Are You Sure?</p>
                                <li>Yes</li>
                                <li>No</li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a class="test">Clear All Weeks</a>
                            <ul class="dropdown-menu">
                                <p>Are You Sure?</p>
                                <li>Yes</li>
                                <li>No</li>
                            </ul>
                        </li>

                    </div>
                </div>
            </div>
            <img class="saveIcon" src="http://i67.tinypic.com/21mf91z.png" width="100px" height="100px">
            <span class="saveCurr" (click)="openSaveCurriculumModal()">
                Save Curriculum
            </span>
            <span class="pushtotop" (click)="addWeek()">
                <i class="fa fa-plus-square"></i>
            </span>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <span class="col-md-3 col-sm-3 col-4">
            <app-course-structure *ngIf="toggleTab === 1" (messageEvent)="receiveMessage($event)"></app-course-structure>
            <app-topic-pool [readOnly]="!isNewVer" *ngIf="toggleTab === 2"></app-topic-pool>
        </span>

        <span class="col-9 align style-7">
            <app-curriculum-week [readOnly]="!isNewVer" *ngFor="let week of allWeeks; let i = index" [weekCurrSubtopics]="week" [weekNum]="i + 1"
                (removeWeekEvent)="removeWeek($event)"></app-curriculum-week>
        </span>
    </div>
</div>

<div id="saveCurriculumModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Saving Curriculum</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h6 *ngIf="selectedCurr">Save version #{{selectedCurr.curriculumVersion}} as new {{selectedCurr.curriculumName}} curriculum?</h6>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="openMasterModal()">Save</button>
                <button class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="makeNewVerMasterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CHANGE MASTER VERSION</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h6 *ngIf="selectedCurr">Would you like to make #{{selectedCurr.curriculumVersion}} the new master version of {{selectedCurr.curriculumName}}?</h6>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal" (click)="saveCurr(true)">YES, I WOULD LIKE THIS TO BE THE NEW MASTER</button>
                <button class="btn btn-warning" data-dismiss="modal" (click)="saveCurr(false)">NO</button>
            </div>
        </div>
    </div>
    <span type="text" class="" data-toggle="dropdown">
        <i class="fa fa-circle" aria-hidden="true"></i>
        <div class="dropdown-menu">
            <div class="hoverRed dropdown-menu" data-toggle="dropdown-submenu">
                <li class="dropdown-submenu test">
                    <a class="test"> Clear All Weeks</a>
                    <ul class="dropdown-menu">
                        <p>Are You Sure?</p>
                        <li class="hoverRed" (click)="clearAllWeeks()">Yes</li>
                        <li class="hoverRed"> No</li>
                    </ul>
                </li>
            </div>
            <div class="hoverRed">Clear All Subtopics</div>
        </div>
    </span>
</div>