<div class="container-fluid" #body>
  <div class="row">
    <div class="col-md-9 m-2" >
      <p-schedule [droppable]="false" onDrop="handleDrop($event)" #fc [events]="events" [editable]="true" (onEventClick)="handleEventClick($event)" (onEventDrop)="handleEventDrop($event)"
        (onEventMouseover)="handleEventMouseover($event)" (onEventMouseout)="handleEventMouseout($event)" (onEventDragStop)="handleEventDragStop($event)"
        (onEventDragStart)="handleEventDragStart($event)" (onViewRender)="handleViewRender($event)">
      </p-schedule>

    </div>

    
    <div class="col-md-2 m-2 calendar-sidebar">
        
      <div>View a particular date</div>
         
      <p-calendar #datePicker [(ngModel)]="gotoDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="1980:2030"
        [showIcon]="false" (onSelect)="jumpToDate(gotoDateValue)"></p-calendar>

      <app-add-subtopic></app-add-subtopic>
      
      <div class="row">
          <div class="col-md-12">
            <img (onDragEnter)="handleDragEnter($event)" src="/assets/img/delete_orange.png" alt="trashcan" class='fc-trash'>
          </div>
    </div>

     
    </div>
  </div>
  <span #tooltip class="tooltiptext">
    <div class="bg-secondary text-white text-center mb-2">{{subtopicTooltip}}</div> 
     Time: {{timeTooltip}}
    <br>Status:
    <span #status>{{statusTooltip}}</span>
  </span>
</div>
