table {
    border: 1px rgb(221, 221, 221) solid;
}

td {
    border: none;
}

.top5 {
	margin-top: .5em;
}

.chart-container {
	padding: .5em;
	background-color: #ffffff;
}

.trainee-name {
    text-align: left;
}

.container {
    margin: 2vmin;
}

.panel {
    border: 1px rgb(221, 221, 221) solid;
    border-radius: .5vmin;
}

.panel-default {
    margin-right: -.8vmin;
}

.panel-heading {
    background: #F26925;
    color: white;
    padding: 1vmin;
    padding-left: 2vmin;
    border-top-left-radius: .5vmin;
    border-top-right-radius: .5vmin;
}

.panel-body {
    border: none;
}

.no-padding{
    padding-left: 0vmin;
    padding-right: 0vmin;
    margin: 0vmin;
    margin-left: -.5vmin;
}

table {
    border: none;
    border-top: 1px solid rgb(221, 221, 221); 
}

canvas {
    padding: 3vmin;
}

tbody {
    margin-left: 0;
    margin-right: 0;
}

th {
    border: none !important;
    text-align: left;
}

tr {
    padding-right: none !important;
    padding-left: none !important;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(221, 221, 221);
}

tr:last-child, tr:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
}

td {
    width: auto !important;
}

.topic-heading {
    font-weight: bolder;
}

.fa {
    cursor: pointer;
}