<nav class="navbar navbar-default custom-nav">
  <div class="container-fluid">
          <ul class="nav navbar-nav">
                  <li><a class="nav-link" routerLink="/AssignForce/overview">Home</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/batches">Batches</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/locations">Locations</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/curricula">Curricula</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/trainers">Trainers</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/profile">Profile</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/reports">Reports</a></li>
                  <li><a class="nav-link" routerLink="/AssignForce/settings">Settings</a></li>
          </ul>
  </div>
</nav>