<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/calendar">Calendar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/batches">Batches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/locations">Locations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/curricula">Curricula</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/trainers">Trainers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/reports">Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/AssignForce/logout">Logout</a>
  </li>
</ul>