
<div id="accordian" class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#' + weekNum + 'w'">
          <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <h5 class="mb-0">
                    Week #{{weekNum}}
                  </h5> <h6 *ngIf="readOnly" class="read-only">READ ONLY</h6>
              </div>
               <div class="col">
                   
               </div>
          </div>
          <div *ngIf="readOnly" class="row">
              <div  *ngFor="let topic of percentageNums; let i = index" class="progress-bar" 
              role="progressbar" [style.background-color]=" i%2 ? '#474c55': '#f47f43' "
              [style.width]="((topic/total)*100)+'%'" placement="top" [ngbTooltip]="percentageNames[i]">
                <span class="percentageBarText">{{percentageNames[i] | uppercase}}</span>
              </div>
          </div>
        </div>
        <div [attr.id]="weekNum + 'w'" class="collapse show" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <!-- <table class="table table-responsive">
                        <thead>
                            <th>Test 1</th>
                            <th>Test 1</th>
                            <th>Test 1</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>First Row First Column</td>
                                <td>First Row First Column</td>
                                <td>First Row First Column</td>
                            </tr>
                        </tbody>
                    </table> -->
                    <div class="col border text-center"><span style="font-weight: 2000;">Monday</span>
                        <div class="row">test</div>
                    </div>
                    <div class="col border text-center"><p class="font-weight-bold">Tuesday</p>
                        <div class="row">test</div>
                    </div>
                    <div class="col border text-center">Wednesday
                        <div class="row">test</div>
                    </div>
                    <div class="col border text-center">Thursday
                        <div class="row">test</div>
                    </div>
                    <div class="col border text-center">Friday
                        <div class="row">test</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
