
.read-only{
    position: absolute;
    color: red;
    right: 34%;
    font-weight: 700;
}

.days {    
    border: 1px solid black;
    margin-bottom: 20px;
    width: 20%;
    text-align: center;
    float: left;
    height: 140px;
}

.week {
    border: 1px solid #f47f43;
    background-color: lightgray;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    height: 80px;
    cursor: pointer;
    position: relative;
}


.week:hover {
    font-size: 103%;
}

.giveHeight{
    height: 750px;      
}

.weeksrow {
width: 100%;
}

.removeWeekBtn {
    color: red;
    position: absolute;
    right: 3%;
    top: -2%;
    font-size: 170%
}

.removeWeekBtn:hover {
    color: black;
}

.putBorder{
    border: 1px solid black;    
}

.noTouch {
    opacity: .4;
    pointer-events: none;
}

