

<div class = "container">
    <div class="row week" id="weekAccordion" data-toggle="collapse" [attr.data-target]="'#' + weekNum + 'w'" aria-expanded="true"
        aria-controls="collapseOne">
        <p *ngIf="readOnly" class="read-only text-center">READ ONLY</p>
        Week #{{weekNum}}
        <div class="progress" >
            <div  *ngFor="let topic of percentageNums; let i = index" class="progress-bar" role="progressbar" [style.background-color]=" i%2 ? '#474c55': '#f47f43' "[style.width]="((topic/total)*100)+'%'">
                {{percentageNames[i] | uppercase}}
            </div>
        </div>
        <div *ngIf="!readOnly" class="removeWeekBtn" (click)="confirmWeekDeletion(weekNum);overlay.toggle($event)" >              
            <i class="fa fa-times-circle fa-1x"></i>
        </div>
    </div>   
</div>


<div class="container">
<div class="row">
<div class="collapse weeksrow" [attr.id]="weekNum + 'w'" aria-labelledby="headingOne" data-parent="#weekAccordion">

    <div class="days" pDroppable="subtopicdrag" (onDrop)="dropIt(0)">Monday
        <div pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 0)" (onDragEnd)="putItDown(day, 0)" [ngClass]="{'noTouch' : readOnly}" class="putBorder"
            *ngFor="let day of monday.subtopics">
            {{day.name}}</div>
    </div>

    <div class="days" pDroppable="subtopicdrag" (onDrop)="dropIt(1)">
        Tuesday
        <div pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 1)" (onDragEnd)="putItDown(day, 1)" [ngClass]="{'noTouch' : readOnly}" class="putBorder"
            *ngFor="let day of tuesday.subtopics">
            {{day.name}}</div>
    </div>

    <div class="days" pDroppable="subtopicdrag" (onDrop)="dropIt(2)">
        Wednesday
        <div pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 2)" (onDragEnd)="putItDown(day, 2)" [ngClass]="{'noTouch' : readOnly}" class="putBorder"
            *ngFor="let day of wednesday.subtopics">
            {{day.name}}</div>
    </div>

    <div class="days" pDroppable="subtopicdrag" (onDrop)="dropIt(3)">
        Thursday
        <div pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 3)" (onDragEnd)="putItDown(day, 3)" [ngClass]="{'noTouch' : readOnly}" class="putBorder"
            *ngFor="let day of thursday.subtopics">
            {{day.name}}</div>
    </div>

    
    <div class="days" pDroppable="subtopicdrag" (onDrop)="dropIt(4)">
        Friday
        <div pDraggable="subtopicdrag" (onDragStart)="pickItUp(day, 4)" (onDragEnd)="putItDown(day, 4)" [ngClass]="{'noTouch' : readOnly}" class="putBorder"
            *ngFor="let day of friday.subtopics">
            {{day.name}}</div>
    </div>
</div>
</div>
</div>

<p-overlayPanel [appendTo]="'body'" #overlay>
    <p>Delete Week #{{weekNum}}?</p>
        <div class="hoverRed"  (click)="removeWeekCall(); overlay.hide($event)">Yes</div>
        <div class="hoverRed" (click)="overlay.hide($event)"> No</div>
</p-overlayPanel>

