<div class="container">
    <div class="row">
        <div class="col batches-nav">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div>All Batches</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
            </ngb-tabset>
            <app-batches-search id="appBatchesSearch" *ngIf="batches" (change)="setFilterText($event)" class="pull-right"></app-batches-search>
        </div>
    </div>

    <app-batches-table *ngIf="batches" [batches]="batches" [title]="'All Batches'" [filterText]="filterText">
    </app-batches-table>

    <div class="text-center" *ngIf="!batches">
        <h3 class="loading">Loading...</h3>
    </div>
</div>