<div class="container">
    <div class="row">
        <div class="col batches-nav">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="loadCurrent()">Current Batches</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="loadPast()">Past Batches</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <div (click)="loadFuture()">Future Batches</div>
                    </ng-template>
                    <ng-template ngbTabContent></ng-template>
                </ngb-tab>
            </ngb-tabset>
            <app-batches-search *ngIf="batches" (change)="setFilterText($event)" class="pull-right"></app-batches-search>
        </div>
    </div>

    <app-batches-table *ngIf="batches" [batches]="batches" [title]="'My Batches'" [filterText]="filterText"></app-batches-table>

    <div class="text-center" *ngIf="!batches">
        <h3 class="loading">Loading...</h3>
    </div>

</div>